= hidden_field_tag :content_type, 'pdf'
= f.input :description
= f.input :content
- if @content.file_url.present?
  = link_to "Datei herunterladen", @content.file_url
= f.input :file, :as => 'file', :required => !@content.file_url.present?
= f.input :source
