= simple_form_for @content, :as => 'content', :url => (@content.new_record? ? admin_contents_path() : admin_content_path(@content)), :html => {:multipart => true} do |f|
  = hidden_field_tag :content_type, 'pdf'
  = f.input :title
  = f.input :description
  = f.input :content
  - if @content.file_url.present?
    = link_to "Datei herunterladen", @content.file_url
  = f.input :file, :as => 'file', :required => !@content.file_url.present?
  = f.input :source
  = f.association :category
  = f.hidden_field :author_id, :value => "#{current_user.id}"     
  = f.submit