= simple_form_for @content, :as => 'content', :url=> admin_contents_path(), :html => {:multipart => true} do |f|
  = hidden_field_tag :content_type, 'pdf'
  = f.input :title
  = f.input :description
  = f.input :content
  = f.input :file, :as => 'file'
  = f.input :source
  = f.input :author, :as => :hidden, :input_html => { :value => "#{current_user.id}"}
  = f.submit