= simple_form_for @content, :as => 'content', :url=> (@content.new_record? ? admin_contents_path() :admin_content_path(@content)), :html => {:multipart => true} do |f|
  = hidden_field_tag :content_type, 'text'
  = f.input :title
  = f.input :description
  = f.input :content
  = f.input :source
  = f.hidden_field :author_id, :value => "#{current_user.id}"         
  = f.submit 