<h1>Content site</h1>

<table>
  <tr>
    <th>Title</th>
    
  </tr>
  
<% @contents.each do |content| %>
  <tr>
    <td><%= content.title %></td>
    
      <td><%= image_tag content.file_url(:thumb).to_s %></td>
    
    <td><%= link_to "Show", [:admin, content]  %><td>
  <% if can? :update, content%>    
    <td><%= link_to 'Edit', edit_admin_content_path(content) %></td>  
  <% end %>  
  <% if can? :destroy, content %>
    <td><%= link_to 'Destroy',  [:admin, content], confirm: 'Are you sure?', :method => 'delete' %></td>
  <% end %>  
  </tr>  
<% end %>  
</table>

<br />
<% if can?(:create, Content) %>
  <%= link_to 'New Content', new_admin_content_path %>
<% end %>  