<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @content.title %>
</p>  

<p>
  <b>Description:</b>
  <%= @content.description %>
</p>

<p>
  <b>File:</b>
  <%= File.basename (@content.file_url.to_s)%>
</p>
<div id="showpic">
<p>
  <%= image_tag @content.file_url.to_s%>
  </p>
</div>  
<p>
  <b>Source:</b> 
  <%= @content.source %>
</p>

<p>
  <b>Added by:</b>
  <%= @content.added_by %>
</p>
       
<%= link_to 'Edit', edit_admin_content_path(@content)   %>
<%= link_to 'Back', admin_contents_path %>
<br />

<%= link_to 'Destroy', admin_content_path(@content), :method => 'delete', :confirm => 'Really delete?' %>