<p id="notice"><%= notice %>

<p>
  <b>Name:</b>
  <%= @user.first_name + @user.last_name.humanize %>
</p>  

<p>
  <b>email:</b>
  <%= @user.email %>
</p>

<p>
  <b>File:</b>
  <%= link_to @user.file_name, download_user_path(@user)%>
</p>

<p>
  <b>Source:</b> 
  <%= @user.source %>
</p>

<p>
  <b>Added by:</b>
  <%= @user.added_by %>
</p>
       
<%= link_to 'Edit', edit_user_path(@user)   %>
<%= link_to 'Back', users_path %>
<br />

<%= link_to 'Destroy', user_path(@user), :method => 'delete', :confirm => 'Really delete?' %>