<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @category.title %>
</p>  

<p>
  <b>Icon:</b>
  <%= @category.icon %>
</p>

</p>
<% if can? :update, @category %>
  <%= link_to 'Edit', edit_admin_category_path(@category)   %>
<% end %>  
  <%= link_to 'Back', admin_categories_path %>
<br />
<% if can? :destroy, @category %>
  <%= link_to 'Destroy',  admin_category_path(@category),  :method => 'delete', :confirm => 'Really delete?' %>
<% end %>