= simple_form_for [:admin, @user] do |f|
 = f.input :salutation 
 = f.input :first_name
 = f.input :last_name
 = f.input :email
 = f.input :password
 = f.input :remark 
 = f.input :role, :collection => User::ROLES, :include_blank => false
 = f.submit
 
 <p>Fields with <abbr title="required">*</abbr> are required fields</p>
= form_for [:admin, @user] do |f| 
 = f.collection_select :role, User::ROLES, :to_s, :humanize    
