<!DOCTYPE html>
<html>
<head>
 <title>Document || @pagetitle </title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  
  <% if Rails.env.development? %>
  <script type="text/javascript" charset="utf-8">
    jQuery(function(){ jQuery("div#debugparams").click(function(){jQuery("div#debugparams").hide()})});
  </script>
  <% end %>
</head>
<body>
  
  <% if flash.present? %>
     <div id="flashbox">
       <% flash.each do |k, v| %>
         <div class="<%= k %>">
           <%= v %>
         </div>
       <% end %>
     </div>  
   <% end %>
   
   <% if Rails.env.development? %>
    <div id="debugparams" >
      <%= debug(params) %>
    </div>
   <% end %>
   
    <div id="pagewrapper">
      <div id="header">
        <p>Something in here<%=  %></p>
      </div>
      <div id="navbar">  
        <ul>
          <li><%= link_to 'Home',      pages_home_path() %></li>
          <li><%= link_to 'Resources', admin_contents_path()  %></li>
          <li><%= link_to 'Contact',   pages_contact_path() %></li>
          <li><%= link_to 'About us',  pages_about_path() %></li>
          <% if can? :manage, User %>
            <li><%= link_to 'Users',     admin_users_path() %></li>
          <% end %>
          <li><% if current_user %>
             Logged in as <%= current_user.email %></li>
             <li><%= link_to "Log out", logout_path() %></li>
           <% else %>
           <li><%#= link_to "Sign up", signup_path() %></li>
             <li><%= link_to "Log in", login_path() %></li>
           <% end %>
      </div>
      <div id ="content">  
        <%= yield %>
      </div>
      <div id='footer'>
        <p>Filled with water</p>
      </div>  
</body>



</body>
</html>
