<!DOCTYPE html>
<html>
<head>
 <title>Document || @pagetitle </title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= content_for :header %>
  
  <% if Rails.env.development? %>
  <script type="text/javascript" charset="utf-8">
    jQuery(function(){ jQuery("div#debugparams").click(function(){jQuery("div#debugparams").hide()})});
  </script>
  <% end %>
</head>
<body>
  
  <% if flash.present? %>
     <div id="flashbox">
       <% flash.each do |k, v| %>
         <div class="<%= k %>">
           <%= v %>
         </div>
       <% end %>
     </div>  
   <% end %>
   
   <% if Rails.env.development? %>
    <div id="debugparams" >
      <%= debug(params) %>
    </div>
   <% end %>
   
    <div id="pagewrapper">
      <div id="header">
        <p>Something in here<%=  %></p>
      </div>
      <div id="navbar">  
        <ul>
          <li><%= link_to 'Home',{:controller => 'pages', :action => 'home'} %></li>
          <li><%= link_to 'Resources', {:controller =>'contents', :action => 'index'}%></li>
          <li><%= link_to 'Contact', {:controller =>'pages', :action => 'contact'}%></li>
          <li><%= link_to 'About us', {:controller =>'pages', :action => 'about'}%></li>
      </div>
      <div id ="content">  
        <%= yield %>
      </div>
      <div id='footer'>
        <p>Filled with water</p>
      </div>  
</body>



</body>
</html>
